################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dungeon_generator_solution/.vs/dungeon_generator_solution/v15/Browse.VC.opendb
/dungeon_generator_solution/.vs/dungeon_generator_solution/v15/Browse.VC.db
/dungeon_generator_solution/.vs/dungeon_generator_solution/v15/ipch/AutoPCH/74998f1b63960185
/dungeon_generator_solution/.vs/dungeon_generator_solution/v15
/dungeon_generator_solution/Debug
/dungeon_generator_solution/dungeon_generator_solution/Debug
/dungeon_generator_solution/dungeon_generator_solution/dungeon_generator_solution.vcxproj.filters
/dungeon_generator_solution/dungeon_generator_solution/dungeon_generator_solution.vcxproj.user
/dungeon_generator_solution/dungeon_generator_solution/dungeon_generator_solution.vcxproj
/dungeon_generator_solution/dungeon_generator_solution.sln
