################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dungeon_generator_solution/.vs/dungeon_generator_solution/v15/Browse.VC.opendb
